<script type="text/javascript">
    // Enable or Disable buttons
    function handleEnableDisable(itemId) {
        let currentValue = parseInt($(`#id_qty_${itemId}`).val());
        let minusDisable = currentValue <= 1;
        let plusDisable = currentValue >= 100;
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisable);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisable);
    }

    // Set limits on page load

    let inputLimits = $('.qty_input');
    for (let i = 0; i < inputLimits.length; i++) {
        let itemId = $(inputLimits[i]).data('item_id');
        handleEnableDisable(itemId)
    }

    // Set limits based on the input's state/change

    $('.qty_input').change(function () {
        let itemId = $(this).data('item_id');
        handleEnableDisable(itemId)
    })

    // Increment QTY
    $('.increment-qty').click(function (e) {
        e.preventDefault();
        let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        let currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);

        let itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Decrement QTY
    $('.decrement-qty').click(function (e) {
        e.preventDefault();
        let closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        let currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);

        let itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });
</script>